{% extends 'base.html' %}
{% load static %}



{% block content %}
<section class="contact" id="contact">
    
    <h1 class="heading">
        <span>c</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
    </h1>
    <!-- <h3 class="title">Let's get in touch</h3> -->
    <div class="row">

        <div class="image">
            <img src='{% static "/media/images/contact-img.svg"%}' alt="">

        </div>

        <form action="/contact/" method="POST"> {% csrf_token %}
            <h1 class="title" style="text-align: center;">Contact us</h1>
            <div class="inputBox">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="inputBox">
                <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
                <input type="text" id="tour_name" name="tour_name" placeholder="Travel Issue" required>
            </div>
            <textarea placeholder="Message" name="desc" id="desc" cols="30" rows="10"></textarea>
            <input type="submit" class="btn" value="send message" required>
        </form>

    </div>
    
</section>
<!-- footer section  -->

<section class="footer">

    <div class="box-container">
  
        <div class="box" style="padding-right: 5rem;">
            <h3>about us</h3>
            <p>Travel is a full-service Outbound Tour Operator in Bangladesh. The founder of Travel is a 100% tourism professional with knowledge in most of the destinations and services in the world for people to enjoy. Our specialized departments with expertise offer a variety of services. Each department works independently to provide best services to our customers& clients and become the best travel agency in Bangladesh.</p>
        </div>
        
        <div class="box" style="padding-left:5rem;">
            <h3>We’ve got you covered</h3>
         
            <a href="/">home</a>
            <a href="/tourindex">book</a>
            <a href="/">services</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>
        <div class="box" style="padding-left:8rem;">
            <h3>follow us</h3>
            <a href="https://www.facebook.com/mdfahimur.rosid">facebook</a>
            <a href="https://www.instagram.com/akib_alvee/">instagram</a>
            <a href="https://github.com/fahim-01">github</a>
            <a href="https://www.linkedin.com/in/akib-alvee-2a947b185/">linkedin</a>
  
        </div>
        <div class="container">
        <div class="footer-copyright text-center py-3" style="font-size: large; color: #fff;">© Developed by:
          <a style="color: #fff;" href="https://www.facebook.com/mdfahimur.rosid/"> Fahimur Rashid </a>&
          <a style="color: #fff;" href="https://www.facebook.com/akib.alvee"> Akib Alvee</a>
        </div>
      </div>
  </section> 


{% endblock %} 

{% block js %}
    <script>
    {% if thank %}
    alert('Thanks for contacting us. We will get back to You soon!');
    
    document.location = "/";
    {% endif %}
    </script>
{% endblock %}